.white-text{
    color: white;
}

img{
    height: 18%;
    width: 18%;
}

body{
    margin-top: 20;
    margin-bottom: 20;
    margin-left: 20;
    margin-right: 20;
    background-color: #FF69B4;
    text-align: center;
}

ol{
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

.big-text{
    font-size: 30px;
}

p{
    color: #95190C;
    font-size: 30px;
}

li{
    color: #6e5ae1;
    font-size: 25px;
    text-align: left;
}