body{
    background-color: white;
}

.white-text{
    color: white;
}

img{
    width: 10%;
}

.centered{
    text-align: center;
}

ol{
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

.big-text{
    font-size: 30px;
}

li{
    text-align: center;
}